* {
	margin: 0;
	padding: 0;
}
body{
		font-family: 'Roboto', sans-serif;

	}
body{
	background: rgba(73,155,234,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(34,61,125,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(34,61,125,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(34,61,125,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(34,61,125,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(34,61,125,1) 100%);
	background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(34,61,125,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#223d7d', GradientType=1 );
}

.contenedor{
	height: 100%;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
header {
	background-color:#545454 ;
	height: 120px;
	box-sizing: border-box;


}
/*header h1 {
	height: 100%;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}*/

footer {
	position: pull-left;
	float: left;
	background-color: #545454;
	color: #fff;
	text-align: center;
	width: 100%;
}

.main {

	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	float: left;

	

}
.logo {
	width: 25%;
	height: 120px;
	float :left;
	box-sizing: border-box;
	text-align: left;
}
.logo img{
	width: auto;
	height: 120px;
	box-sizing: border-box;
}

.titulo{
	width :75%;
	height: 120px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
}
.titulo h1,h3{
	width :auto;
	height: 120;
	text-align: center;
	color: #fff;
	}
.tituloresp{
	display: none;
}

/*PARA LOS BOTONES*/
	.myButton {
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 500px){

	header{
		box-sizing: border-box;
	}
	.contenedor{
		width: 100%;
		box-sizing: border-box;
	}

	.titulo{
	display:none;
	}
	.logo {
	width: 100%;
	height: 120px;
	float :left;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;

	}
	.tituloresp{;
	background: #545454;
	display: block;
	width :100%;
	height: 160px;
	float: right;
	padding: 20px;
	box-sizing: border-box;
	}
	.tituloresp h1,h3{
	width :auto;
	text-align: center;
	color: #fff;
	}
	.main{
		margin-top: 10%;
		font-weight: bold;
		color: black;
		float: left;
	}

	footer{
		padding: 10px;

	}


}
